@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --mode-color: rgb(var(--ctp-blue))
}

body {
  font-size: 22px;
  font-family: monospace;
  background-color: rgb(var(--ctp-base));
}
